<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Resultes</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
    <main class="container">
  <!--  변수 받기  -->
  <h1>Search Resultes for "{{keyword}}": </h1>
  <figure>
  <table role="grid">
    <thead>
      <tr>
        <th>Position</th>
        <th>Company</th>
        <th>Location</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
  <!--  templates에서 python 코드 작성하기  -->
  {% for job in jobs %}
    <tr>
      <td>{{job.position}}</td>
      <td>{{job.company}}</td>
      <td>{{job.location}}</td>
      <td><a href="{{job.link}}" target="_blank">Apply now&rarr;</a></td>
    </tr>
  {% endfor %}
    </tbody>
  </table>
  </figure>
    </main>
</body>
</html>